/* - CSS RESETS - */
* {
  box-sizing: border-box;
}

html {
  font-size: 20px; /* to round off my REMs but still allow for a readable basefont */
}
body {
  margin: 0;
  background: black;
  color: white;
}

ul {
  padding-left: 0;
  list-style: none;
}

img {
  max-width: 100%:
}



/* - MAIN STYLE - */
.section {
  padding: 1rem;
  background: green;
}

/* - HEADER - */
.navbar {
  background: #2196f3;
}
