/* - CSS RESETS - */
* {
  box-sizing: border-box;
}

html {
  font-size: 15px; /* to round off my REMs but still allow for a readable basefont */
}
body {
  margin: 0;
  color: #000;
  font-family: sans-serif;
}

ul {
  padding-left: 0;
  list-style: none;
}

img {
  max-width: 100%:
}



/* - HEADER - */
.header-nav__navbar {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center; /* vertical alignment ? */

  background: #2196f3;
  color: #fefefe;
}

.logo {
  margin: 0;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  margin: -0.5rem -1rem;
}

.nav-list__item {
  margin: 0.5rem 1rem;
}

/* - GRID - */
.container {
  padding: 1rem;
  /*background: green;*/

}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 66rem;
  margin: 0 auto;
}

.grid__item {
  margin: 1.5rem;
  flex-basis: calc(100% / 2 - 3rem);

}

/* - CARD - */
.card {
  box-shadow: 2px 2px 5px #aaa;
  min-width: 25rem;
}

.card__header {
  background: #fdcc52;
  position: relative;
  display: flex;
  align-items: center;
}

.card__title {
  padding: 2rem 0 2rem 3rem;
  margin: 0;

}

.title__img {
  position: absolute;
  margin: 0;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);

  box-shadow: 2px 2px 10px #333;
}

.card__tag {
  position: absolute;
  margin: 0;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: .5rem;

  color: #fff;
  background: #2196f3;
  box-shadow: 2px 2px 10px #333;
}

.card__content {
  padding: 0 1rem 1rem;
}
