/* - CSS RESETS - */
* {
  box-sizing: border-box;
}

html {
  font-size: 20px; /* to round off my REMs but still allow for a readable basefont */
}
body {
  margin: 0;
  background: black;
  color: white;
}

ul {
  padding-left: 0;
  list-style: none;
}

img {
  max-width: 100%:
}



/* - HEADER - */
.header-nav__navbar {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center; /* vertical alignment ? */

  background: #2196f3;
}

.logo {
  margin: 0;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  margin: -0.5rem -1rem;
}

.nav-list__item {
  margin: 0.5rem 1rem;
}
